
{% extends 'base.html' %}



		{% block main %}
			<div id ="Top">
				
				<img  id = "pic"src="{{ url_for('static',filename='ProfilePic.jpe') }}"/>
				<h1 id = "Name">Tyler Thomas<br></h1>
				<p>@TStar64 <br></p>
				<p>Kingston,Jamaica<br></p>
				<p>Joined {{Date}}</p>
			</div>
			<br>
			<div id ="Bottom">
				<p>I am a intelligent and work-driven individual with a high interest in programming and code design. Please contact
				me if you would like to work on a project together. </p>
				<div id = "flex-container">
					<div id = "Posts" class="flex-item">
						<p class = "numbers">15<br></p>
						<h5>Posts</h5>
					</div>
					<div id = "Following" class="flex-item">
						<p class = "numbers">100</p>
						<h5>Following</h5>
					</div>
					<div id = "Followers" class="flex-item">
						<p class = "numbers">300</p>
						<h5>Followers</h5>
					</div>

				</div>
					<br>
					<div id = "butdiv">
					<button type="button">Follow</button>
					</div>
			</div>
		{% endblock %}


